@use '../../../variables.scss';
@import '../../../variables.scss';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar-brand{
        color: $default-primary-color;
        font-weight: bold;
        font-size: 26px;
    }
    .nav-link {
        &.active,
        &:hover {
            color: $default-primary-color !important;

            svg path {
                fill: $default-primary-color;
            }
        }
    }   
}

.navbar-toggler{
    border: none;
    background: transparent;
}

@media (max-width: 768px) {
  .navbar-nav {
    display: none;
    flex-direction: column !important;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #fff;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
    &.show-menu {
      display: flex;
      z-index: 10;
      gap: 10px !important;
    }
    .nav-item {
        margin-bottom: 10px;
    }
  }
}
